<%- include("templates/header") %>
<p>
  <a href="/user"><button>Back to User Page</button></a>
</p>
<p>
    <% let lastReadMessageToPass;
        if (messages.length > 0) {
            lastReadMessageToPass =  messages[0].message_id;
        } else {
            lastReadMessageToPass = undefined;
        } %>
  <a href="/user/invite/<%- chatgroupId %><%- lastReadMessageId ? '?lastReadMessageId=' + lastReadMessageToPass : '' %>"><button>Invite People</button></a>
</p>
<div>
  <% messages.forEach((message, i) => { %>
  <% const time = new Date(message.sent_time).toLocaleString('en-us',{year:
  "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit",
  second: "2-digit" }) %>
  <% const alignment = message.user_id == userId ? "flex-end" : "flex-start" %>
  <div style="display: flex; flex-direction: column; padding: 10px; align-items: <%- alignment %>">
    <div style="border: solid black; width: fit-content; padding: 10px;">
      <p>
        <span style="padding-right: 5px; font-weight: bold"
          ><%- message.username %></span
        >
        <span style="padding-left: 5px"><%= time %></span>
      </p>
      <p><%- message.text %></p>
      <div style="display: flex; justify-content: space-between;">
        <% const messageEmojis = emojiReactions.filter(emojiReaction => emojiReaction.messageId == message.message_id) %>
        <% if(messageEmojis[0].emojis.length > 0) { %>
            <div>
              <% messageEmojis[0].emojis.forEach(emoji => { %>
                <span style="padding-right: 10px;">
                    &#<%- emoji.unicode %>
                    <% if (emoji.count > 1) { %>
                        +<%- emoji.count %>
                    <% } %>
                </span>
              <% }) %>
            </div>
        <% } %>
        <a href="/user/emoji/<%- chatgroupId %>/<%- message.message_id %>"><button>React Emoji</button></a>
      </div>
    </div>
  </div>
  <% if (message.message_id == lastReadMessageId && i <
  messages.length - 1 && messages[messages.length - 1].user_id != userId) { %>
      <div style="display: flex; flex-direction: column; width: 100%; align-items: center;">
        <hr style="border-color: black; height: 1px; width: 100%; border: dotted 1px black;" />
          <span>Unread</span>
      </div>
  <% } %>
  </div>
  <% }) %>
</div>
<form action="/user/api/sendMessage/<%- chatgroupId %>" method="post">
  <input type="text" name="text" placeholder="Type your message here" />
  <button type="submit">Send</button>
</form>
<%- include("templates/footer") %>
