<%- include("templates/header") %>
<h1>Add more users to the group:</h1>
<form action="/user/api/invite/<%- chatgroupId %>" method="post">
    <div class="addUser">
        <% users.forEach(user => { %>
            <input type="checkbox" id="<%= user.user_id %>" name="users" value="<%= user.user_id %>" />
            <label for="<%= user.user_id %>"><%= user.username %></label>
            <br>
        <% }) %>
   </div>
    <button type="submit">Invite User(s)</button>
</form>
<%- include("templates/footer") %>
