<%- include("templates/header") %>
<p>
    <a href="/user/chatgroup/<%- chatgroupId %>"><button>Back to Chatgroup</button></a>
</p>
<h1>Add more users to the group:</h1>
<form action="/user/api/invite/<%- chatgroupId %><%- lastReadMessageId ? '?lastReadMessageId=' + lastReadMessageId : '' %>" method="post">
    <div class="addUser">
        <h3>Users In group:</h3>
        <% groupUsers.forEach(user => { %>
            <span><%= user.username %></span>
            <br>
        <% }) %>
        <h3>Users To add:</h3>
        <% otherUsers.forEach(user => { %>
            <input type="checkbox" id="<%= user.user_id %>" name="invitedUsers" value="<%= user.user_id %>" />
            <label for="<%= user.user_id %>"><%= user.username %></label>
            <br>
        <% }) %>
   </div>
    <button type="submit">Invite User(s)</button>
</form>
<%- include("templates/footer") %>
